body
	header
		#container
			background-image: url(../img/background_hotel_morado.jpg)
			background-position: center
			height: 700px
			width: 100%
			nav
				h1
					display: none
				img.logo
					width: 160px
					float: left
					margin-left: 60px
					margin-top: 10px
				ul
					float: right
					margin-top: 30px
					margin-right: 60px
					a
						li
							style: none
							float: right
							color: #fff
							display: inline-block
							margin-right: 40px
							font-size: 15px
							font-weight: bold
			img.isotipo
				display: block
				margin: auto
				margin-top: 140px